.card-set {
	// display: flex;
	// flex-wrap: wrap;
	margin-top: 0;
	padding: 0;
	list-style: none;
	margin-bottom: -30px;
}

.card-set__item {
	margin-bottom: 30px;
    border: 1px solid $filter-button-bcg;

    &:hover,
    &:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	opacity: 1;
}

@media screen and (max-width: 767px) {
	.card-set{
	margin-top: 40px;
	}

	.card-set__item {
		display: block;
	}
}

@media screen and (min-width: 786px) {
	.card-set {
	display: flex;
	flex-wrap: wrap;
	margin-right: -30px;
	}

	.card-set__item {
		margin-right: 30px;
		width: calc((100% - 30px) / 2);
	}
}

@media screen and (min-width: 1200px) {
	.card-set__item {
	width: calc((100% - 3 * 30px) / 3);
	}
}

}

.card-set__overflow {
	position: relative;
	overflow: hidden;
}

.card-set__image {
	display: block;
	width: 100%;
}

.card-set__overflow-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $image-overflow;
	color: $white-color;
	padding: 63px 24px;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .card-set__item:hover & {
	transform: translateY(0);
    }
}

.card-set__text {
	margin-top: 0;
	margin-bottom: 0;
}

.card-set__meta {
	padding: 20px 24px;
}

.card-set__heading {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: $subheading-color;
	letter-spacing: 0.06em;
	margin-top: 0;
	margin-bottom: 4px;
}

.card-set__subheading {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: $text-color;
	letter-spacing: 0.03em;
	margin-top: 0;
	margin-bottom: 0;
}


