.section {
	padding-top: 94px;
	padding-bottom: 94px;
	margin-top: 0;
	margin-bottom: 0;
}

.features-list {
    @extend %list;
}

.features-list__item {
	max-width: 270px;
    height: 251px;
    
    &:not(:first-child) {
	margin-left: 30px;
    }
}

.features-list__subtitle,
.features-list__text {
	text-align: left;
	margin-left: 0;
}

.features-list__text {
	line-height: 1.71;
}

.features-list__block {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	width: 270px;
	height: 120px;
	background-color: $filter-button-bcg;
}

.features-list__image {
	display: block;
}

