.filter {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-top: 0;
	margin-bottom: 34px;

	@media screen and (max-width: 767px) {
		flex-wrap: wrap;
		margin-bottom: -15px;
		padding: 0;
		justify-content: flex-start;
	}
}

   @media screen and (max-width: 767px) {
	   .filter__item {
		   margin-bottom: 15px;
	   }
}
.filter__item:not(:last-child) {
	margin-right: 8px;
}

.filter__button {
	display: inline-block;
	color: $subheading-color;
	background-color: $filter-button-bcg;
	min-width: 130px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid transparent;
	padding: 6px 22px;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.03em;
	line-height: 1.62;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    &:hover,
    &:focus {
	color: $white-color;
	background-color: $accent-color;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}


