.footer-container {
	margin-left: auto;
	margin-right: auto;
	padding: 60px 15px;
	background-color: $background;
}

.address-container {
	text-align: center;
}

.logo-container {
 margin-bottom: 60px;
}

.address {
	width: 232px;
	height: 79px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.social-links-footer {
	margin-bottom: 60px;
	width: 206px;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
}

.sign-up {
	width: 450px;
	height: 156px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 768px) {
	.address-container {
		padding-left: 60px;
		padding-right: 60px;
		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
		flex-wrap: wrap;
	}

	.social-links-footer {
		margin-left: 165px;
	}
}

@media screen and (min-width: 1200px) {

	.footer-container {
		max-width: 1600px;
	    height: 252px;
	}

.address-container {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.logo-container {
	padding-left: 0;
	padding-right: 70px;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.social-links-footer {
	margin-left: 0px;
	margin-right: 93px;
}

.footer-sign-up-form-fields {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	height: auto;
}
 .sign-up {
	text-align: left;
 }
}



.address-contacts {
	text-decoration: none;
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.address-contacts__item {
	margin-bottom: 8px;
}

.address-contacts__link {
	color: $address;
	text-decoration: none;
	line-height: 1.71;
}

.address-contacts__text {
	color: $white-color;
	line-height: 1.71;
	margin-top: 0;
	margin-bottom: 0;
}


.social-links-footer__text {
	text-transform: uppercase;
	color: $white-color;
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	margin-top: 0;
	margin-bottom: 20px;
}

.social-links-footer-list {
	display: flex;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0;
}

.social-links-footer-list__item {
	margin-top: 0;
	margin-bottom: 0;
    list-style: none;
    
    &:not(:last-child) {
	margin-right: 10px;
    }
}

.social-links-footer-list__link {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border-style: none;
	background-color: $social-link-footer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
	background-color: $accent-color;
    }
}

.social-links-footer-list__icon {
	fill: $white-color;
}




