
.our-clients-list {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	// margin-top: 0;
	// margin-bottom: 0;
	margin: -15px;
}

.our-clients-list__item {
	// width: 170px;
	// height: 90px;
	min-width: 210px;
	min-height: 90px;
	// width: 100%;
	background-color: $white-color;
	border: 1px solid $our-clients-section;
	border-radius: 4px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 15px;
	// padding-left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and (max-width: 767px) {
		width: calc((100%-30px)/2);
		margin: 15px;
	}

	@media screen and (min-width: 768px) {
		// width: 226px;
		// height: 90px;
		flex-basis: calc((100%-30px*2)/3);
		margin: 15px;
	}

	@media screen and (min-width: 1200px) {
		width: 170px;
		height: 90px;

		&:not(:last-child) {
			margin-right: 30px;
		}
	}
    
    // &:not(:last-child) {
	// margin-right: 30px;
    // }

    &:focus,
    &:hover {
	border-color: $accent-color;
    }
}

.our-clients-list__link {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.our-clients-list__icon {
	fill: $our-clients-section;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .our-clients-list__item:focus &,
    .our-clients-list__item:hover & {
	fill: $accent-color;
    }
}