.sign-up__label {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: $white-color;
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
}

.sign-up__button {
	padding: 10px 29px;
	// margin-left: 12px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	fill: $white-color;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	margin-top: 20px;
    
    &:hover,
    &:focus {
	color: $accent-color;
	background-color: $white-color;
    }
}


.sign-up__icon {
	margin-left: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .sign-up__button:hover &,
    .sign-up__button:focus & {
	color: $accent-color;
	background-color: $white-color;
	fill: $accent-color;
    }
}

.sign-up__input {
	display: inline-block;
	width: 100%;
	max-height: 50px;
	// width: 358px;
	// height: 50px;
	background-color: $background;
	border: 1px solid $sign-up-border-color;
	border-radius: 4px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin-right: auto;
	outline: none;
	color: var(--address);
	font-size: 16px;
    line-height: 1.25;
    
    &::placeholder {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0;
	margin-right: auto;
	color: $address;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
    }
}