$text-color: #757575;
$white-color: #ffffff;
$accent-color: #2196f3;
$subheading-color: #212121;
$black: #000000;
$address: rgba(255, 255, 255, 0.6);
$filter-button-bcg: #f5f4fa;
$horizontal-line: #e5e5e5;
$social-link-footer: rgba(255, 255, 255, 0.1);
$sign-up-border-color: rgba(255, 255, 255, 0.3);
$our-clients-section: #afb1b8;
$image-overflow: rgba(33, 150, 243, 0.9);
$we-do-overflow: rgba(47, 48, 58, 0.8);
$background: #2f303a;
$modal-window-backdrop: rgba(0, 0, 0, 0.2);
$modal-form-field: rgba(33, 33, 33, 0.2);
$textarea-placeholder: rgba(117, 117, 117, 0.5);
$text-font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
